<ion-tabs>
  <ion-tab-bar color="primary" slot="top" [translucent]="false">
    <ion-tab-button tab="branding">
      <ion-label>Branding</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="design">
      <ion-label>Design</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="content">
      <ion-label>Content</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>