<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">
        <ion-text color="dark">
          <h2 class="ion-no-margin">Hurst</h2>
        </ion-text>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-no-padding">
      <ion-row>
        <ion-col class="ion-align-self-center ion-no-padding">
          <img class="hurst-logo" src="./assets/Images/Hurst_Logo - length.jpg" />
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-align-self-center">
          <ion-text color="muted">
            <h2 class="ion-text-center ion-padding-vertical">Why brand identity is an essential firststep towards marketing</h2>
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>